@charset "utf-8";

/* 桌面版本定制  */
@media (min-width: 768px) {
}

/* 移动端样式定制 */
@media (max-width: 767px) {

    .global-header {
        .navbar-toggle {
            padding: 15px;
        }
        .navbar-brand {
            width: auto;
            height: auto;
            img {
                width: auto;
                height: 34px;
            }
        }
    }

    .global-container {

        .page-news {
            .media {
                .media-left {
                    display: block;
                }
                .media-body {

                }
            }
        }

    }

    .global-footer {
        .foot-logo {
            img {
                display: block;
                margin: 10px auto 30px;
            }
        }
        .col-md-8 {
            * {
                display: block;
                text-align: center;
                line-height: 2;
            }
        }
    }

}