@charset "UTF-8";
/* layout library */
/*
 * layout 模块
 */
.box .hd {
  height: 40px;
  line-height: 40px;
  font-size: 18px; }
  .box .hd .title {
    color: #ff8a00; }

/**
 * layout 工具库
 *
 * 命名规则:
 * 1. layout- 为布局用工具库的统一前缀标识符
 * 2. m 和 p 为 CSS 属性标识符, 分别代表 margin 和 padding
 * 3. w h t r b l 分别代表 width height top right bottom left
 * 4. 最后一位为数字位, 表示 CSS 属性的值
 *
 * 示例:
 *      layout-m10  {margin: 10rem;}
 *      layout-mw10  {margin-left:10rem;margin-right:10rem;}
 *      layout-pr20  {padding-right:20rem;}
 */
.layout-m5 {
  margin: 5px; }

.layout-mw5 {
  margin-left: 5px;
  margin-right: 5px; }

.layout-mh5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.layout-mt5 {
  margin-top: 5px; }

.layout-mr5 {
  margin-right: 5px; }

.layout-mb5 {
  margin-bottom: 5px; }

.layout-ml5 {
  margin-left: 5px; }

.layout-p5 {
  padding: 5px; }

.layout-pw5 {
  padding-left: 5px;
  padding-right: 5px; }

.layout-ph5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.layout-pt5 {
  padding-top: 5px; }

.layout-pr5 {
  padding-right: 5px; }

.layout-pb5 {
  padding-bottom: 5px; }

.layout-pl5 {
  padding-left: 5px; }

.layout-m10 {
  margin: 10px; }

.layout-mw10 {
  margin-left: 10px;
  margin-right: 10px; }

.layout-mh10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.layout-mt10 {
  margin-top: 10px; }

.layout-mr10 {
  margin-right: 10px; }

.layout-mb10 {
  margin-bottom: 10px; }

.layout-ml10 {
  margin-left: 10px; }

.layout-p10 {
  padding: 10px; }

.layout-pw10 {
  padding-left: 10px;
  padding-right: 10px; }

.layout-ph10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.layout-pt10 {
  padding-top: 10px; }

.layout-pr10 {
  padding-right: 10px; }

.layout-pb10 {
  padding-bottom: 10px; }

.layout-pl10 {
  padding-left: 10px; }

.layout-m15 {
  margin: 15px; }

.layout-mw15 {
  margin-left: 15px;
  margin-right: 15px; }

.layout-mh15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.layout-mt15 {
  margin-top: 15px; }

.layout-mr15 {
  margin-right: 15px; }

.layout-mb15 {
  margin-bottom: 15px; }

.layout-ml15 {
  margin-left: 15px; }

.layout-p15 {
  padding: 15px; }

.layout-pw15 {
  padding-left: 15px;
  padding-right: 15px; }

.layout-ph15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.layout-pt15 {
  padding-top: 15px; }

.layout-pr15 {
  padding-right: 15px; }

.layout-pb15 {
  padding-bottom: 15px; }

.layout-pl15 {
  padding-left: 15px; }

.layout-m20 {
  margin: 20px; }

.layout-mw20 {
  margin-left: 20px;
  margin-right: 20px; }

.layout-mh20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.layout-mt20 {
  margin-top: 20px; }

.layout-mr20 {
  margin-right: 20px; }

.layout-mb20 {
  margin-bottom: 20px; }

.layout-ml20 {
  margin-left: 20px; }

.layout-p20 {
  padding: 20px; }

.layout-pw20 {
  padding-left: 20px;
  padding-right: 20px; }

.layout-ph20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.layout-pt20 {
  padding-top: 20px; }

.layout-pr20 {
  padding-right: 20px; }

.layout-pb20 {
  padding-bottom: 20px; }

.layout-pl20 {
  padding-left: 20px; }

.layout-m25 {
  margin: 25px; }

.layout-mw25 {
  margin-left: 25px;
  margin-right: 25px; }

.layout-mh25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.layout-mt25 {
  margin-top: 25px; }

.layout-mr25 {
  margin-right: 25px; }

.layout-mb25 {
  margin-bottom: 25px; }

.layout-ml25 {
  margin-left: 25px; }

.layout-p25 {
  padding: 25px; }

.layout-pw25 {
  padding-left: 25px;
  padding-right: 25px; }

.layout-ph25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.layout-pt25 {
  padding-top: 25px; }

.layout-pr25 {
  padding-right: 25px; }

.layout-pb25 {
  padding-bottom: 25px; }

.layout-pl25 {
  padding-left: 25px; }

.layout-m30 {
  margin: 30px; }

.layout-mw30 {
  margin-left: 30px;
  margin-right: 30px; }

.layout-mh30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.layout-mt30 {
  margin-top: 30px; }

.layout-mr30 {
  margin-right: 30px; }

.layout-mb30 {
  margin-bottom: 30px; }

.layout-ml30 {
  margin-left: 30px; }

.layout-p30 {
  padding: 30px; }

.layout-pw30 {
  padding-left: 30px;
  padding-right: 30px; }

.layout-ph30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.layout-pt30 {
  padding-top: 30px; }

.layout-pr30 {
  padding-right: 30px; }

.layout-pb30 {
  padding-bottom: 30px; }

.layout-pl30 {
  padding-left: 30px; }

.layout-m35 {
  margin: 35px; }

.layout-mw35 {
  margin-left: 35px;
  margin-right: 35px; }

.layout-mh35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.layout-mt35 {
  margin-top: 35px; }

.layout-mr35 {
  margin-right: 35px; }

.layout-mb35 {
  margin-bottom: 35px; }

.layout-ml35 {
  margin-left: 35px; }

.layout-p35 {
  padding: 35px; }

.layout-pw35 {
  padding-left: 35px;
  padding-right: 35px; }

.layout-ph35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.layout-pt35 {
  padding-top: 35px; }

.layout-pr35 {
  padding-right: 35px; }

.layout-pb35 {
  padding-bottom: 35px; }

.layout-pl35 {
  padding-left: 35px; }

.layout-m40 {
  margin: 40px; }

.layout-mw40 {
  margin-left: 40px;
  margin-right: 40px; }

.layout-mh40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.layout-mt40 {
  margin-top: 40px; }

.layout-mr40 {
  margin-right: 40px; }

.layout-mb40 {
  margin-bottom: 40px; }

.layout-ml40 {
  margin-left: 40px; }

.layout-p40 {
  padding: 40px; }

.layout-pw40 {
  padding-left: 40px;
  padding-right: 40px; }

.layout-ph40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.layout-pt40 {
  padding-top: 40px; }

.layout-pr40 {
  padding-right: 40px; }

.layout-pb40 {
  padding-bottom: 40px; }

.layout-pl40 {
  padding-left: 40px; }

.layout-m45 {
  margin: 45px; }

.layout-mw45 {
  margin-left: 45px;
  margin-right: 45px; }

.layout-mh45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.layout-mt45 {
  margin-top: 45px; }

.layout-mr45 {
  margin-right: 45px; }

.layout-mb45 {
  margin-bottom: 45px; }

.layout-ml45 {
  margin-left: 45px; }

.layout-p45 {
  padding: 45px; }

.layout-pw45 {
  padding-left: 45px;
  padding-right: 45px; }

.layout-ph45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.layout-pt45 {
  padding-top: 45px; }

.layout-pr45 {
  padding-right: 45px; }

.layout-pb45 {
  padding-bottom: 45px; }

.layout-pl45 {
  padding-left: 45px; }

.layout-m50 {
  margin: 50px; }

.layout-mw50 {
  margin-left: 50px;
  margin-right: 50px; }

.layout-mh50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.layout-mt50 {
  margin-top: 50px; }

.layout-mr50 {
  margin-right: 50px; }

.layout-mb50 {
  margin-bottom: 50px; }

.layout-ml50 {
  margin-left: 50px; }

.layout-p50 {
  padding: 50px; }

.layout-pw50 {
  padding-left: 50px;
  padding-right: 50px; }

.layout-ph50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.layout-pt50 {
  padding-top: 50px; }

.layout-pr50 {
  padding-right: 50px; }

.layout-pb50 {
  padding-bottom: 50px; }

.layout-pl50 {
  padding-left: 50px; }

/**
 * flex 布局
 */
.layout-flex-container {
  /* webkit, moz历史版本兼容 */
  display: -webkit-box;
  display: -moz-box;
  /* IE私有写法 */
  display: -ms-flexbox;
  /* 标准写法 */
  display: -webkit-flex;
  display: flex;
  /* 子元素 */
  /* 填充方式: 默认 */
  /* 方向: 横向排列 */
  /* 方向: 竖直排列 */
  /* justify */
  /* align */
  /* 自动换行 */ }
  .layout-flex-container > .layout-flex-item {
    /* webkit, moz历史版本兼容 */
    -webkit-box-flex: initial;
    -moz-box-flex: initial;
    /* IE私有写法 */
    -ms-flex: auto;
    /* 标准写法 */
    -webkit-flex: auto;
    flex: auto; }
  .layout-flex-container.layout-flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .layout-flex-container.layout-flex-vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .layout-flex-container.layout-flex-vertical > .layout-flex-item {
      /* 修复微信旧版本 -webkit-box 下的 -webkit-box-flex:initial 在竖直排列时的 bug */
      -webkit-box-flex: 1; }
  .layout-flex-container.layout-flex-justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start; }
  .layout-flex-container.layout-flex-justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .layout-flex-container.layout-flex-justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end; }
  .layout-flex-container.layout-flex-justify-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layout-flex-container.layout-flex-justify-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .layout-flex-container.layout-flex-align-start {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    -ms-grid-row-align: start;
    align-items: start; }
  .layout-flex-container.layout-flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
  .layout-flex-container.layout-flex-align-end {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    -ms-grid-row-align: end;
    align-items: end; }
  .layout-flex-container.layout-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

/**
 * 文字排版库
 */
.typography-ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.typography-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  max-height: 3em;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  -webkit-line-clamp: 2; }
  h1 > .typography-clamp, h2 > .typography-clamp, h3 > .typography-clamp, h4 > .typography-clamp, h5 > .typography-clamp, h6 > .typography-clamp, .h1 > .typography-clamp, .h2 > .typography-clamp, .h3 > .typography-clamp, .h4 > .typography-clamp, .h5 > .typography-clamp, .h6 > .typography-clamp {
    line-height: 1.5;
    max-height: 3em; }

/*
 * global
 */
body {
  overflow-y: scroll;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
  /*padding-top: 110px;*/ }

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: none; }

input, button, a {
  outline: none; }

dl dt, dl dd {
  line-height: 2; }

.btn:hover, .btn:focus, .btn:active {
  border-color: #ff8a00; }

.carousel-indicators li {
  opacity: .38;
  transition: .3s all ease-out; }
  .carousel-indicators li.active {
    width: 30px;
    opacity: .62; }

/*
 * header
 */
.navbar-brand {
  height: 110px; }

.search-form {
  height: 60px;
  padding-top: 11px; }

.navbar {
  border-bottom: 5px solid #ff8a00;
  margin-bottom: 0; }

.nav > li > a {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px; }

.navbar .navbar-nav > li > a {
  border-right: 0 none;
  border-left: 0 none; }

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:active {
  background: none; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ff8a00;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ff8a00;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }

.navbar-right .dropdown-menu {
  right: auto; }

.dropdown-menu > li > a {
  padding: 10px 25px; }

/*
.dropdown-menu {
    width: 500px;
}

.dropdown-menu > li {
    display: inline-block;
}*/
/*
 * footer
 */
.global-footer {
  border-top: 5px solid #ff8a00;
  height: 210px;
  background: url("../images/footer-bg.jpg") no-repeat center top;
  color: #fff; }

/*
 * global-container
 */
.global-container {
  min-height: 500px; }
  .global-container .page-title {
    margin-top: 70px;
    margin-bottom: 90px;
    color: #f39c12; }

/*
 * Swiper
 */
.swiper-container {
  width: 60%;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  /*  产品页 - 产品分类列表 */
  /* 产品页 - 底部大图 + 缩略图 */ }
  .swiper-container .swiper-slide {
    background-size: cover;
    background-position: center; }
  .swiper-container.gallery-product-category {
    margin-top: 20px;
    height: 95px;
    box-sizing: border-box;
    padding: 10px 0; }
  .swiper-container.gallery-product-category .swiper-slide {
    display: block;
    width: 25%;
    height: 100%;
    opacity: 0.4; }
    .swiper-container.gallery-product-category .swiper-slide:hover {
      opacity: 1; }
  .swiper-container.gallery-product-category .swiper-slide-active {
    /*opacity: 1;*/ }
  .swiper-container.gallery-product-category .active {
    opacity: 1; }
  .swiper-container.gallery-top {
    height: 240px; }
  .swiper-container.gallery-thumbs {
    margin-top: 20px;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 0; }
  .swiper-container.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4; }
  .swiper-container.gallery-thumbs .swiper-slide-active {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
